<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4___EcrivainsDeconnecteCode.Properties.Settings.Gestion_EntrepriseConnectionString"
            connectionString="Data Source=KAJERO-PC\SQLEXPRESS;Initial Catalog=Gestion_Entreprise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>